:root {
  --utama: #55362a;
  --coklat: #8e5c49;
  --coklatmuda: #ca9465;
  --coklatmudalg: #f3e1ba;
  --kuning: #ffa600;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(243, 225, 186, 0.875);
  border-bottom: 3px solid var(--utama);
  padding: 0.7rem 7%;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  z-index: 999;
}
.navbar .opsi {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
}

.navbar .opsi a {
  text-decoration: none;
  display: inline-block;
  font-size: 1.3rem;
  padding: 0.5rem 1.2rem;
  color: var(--utama);
}

.navbar .opsi a::after {
  content: "";
  display: block;
  padding-bottom: 0, 25rem;
  border-bottom: 0.1rem solid #1d120e;
  transform: scaleX(0);
  transition: 0.3s linear;
  transform-origin: 0 0;
}

.navbar .opsi a:hover::after {
  transform: scaleX(0.7);
}

p {
  color: var(--utama);
}

.connav {
  max-width: 1300px;
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.conhome {
  display: flex;
  align-items: center;
  padding-top: 70px;
  flex-wrap: wrap;
  justify-content: space-around;
  background: radial-gradient(#fff, #f3e1ba);
}

.kolom {
  flex-basis: 30%;
  min-width: 300px;
}

.kolom img {
  max-width: 100%;
  padding: 65px 0px 55px 20px;
}

.kolom h1 {
  font-size: 4rem;
  padding-bottom: 10px;
}

.kolom p {
  font-size: 1.5rem;
  color: black;
}

.kolom p span {
  color: var(--kuning);
  text-shadow: 1px 1px black;
}

.btn {
  display: inline-block;
  background: var(--utama);
  color: var(--coklatmudalg);
  padding: 10px 45px;
  margin: 30px 0;
  border-radius: 20px;
  font-size: 1.5rem;
  transition: 0.4s linear;
}

.btn:hover {
  background: #1d120e;
  color: #fff;
  transform: scale(1.1);
}

/* Tentang Kami */
.conabout {
  padding: 8rem 7% 1.4rem;
}

.conabout h1 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 3rem;
  font-size: 3rem;
}

.conabout h1 span {
  color: var(--utama);
}

.conabout h1 {
  color: var(--coklatmuda);
}

.conabout .about {
  display: flex;
}

.conabout .about .about-img {
  flex: 1 1 30rem;
}

.conabout .about .about-img img {
  width: 100%;
  padding-left: 200px;
  padding-right: 70px;
}

.conabout .about .aboutisi {
  flex: 1 1 35rem;
  padding-right: 150px;
}

.conabout .about .aboutisi p {
  font-size: 1rem;
  font-weight: 300;
}

/* Tentang Kami End */

/* Product */
.conproduct {
  max-width: 1080px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}

.conproduct h1 {
  padding-top: 130px;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 3rem;
  font-size: 3rem;
}

.conproduct h1 span {
  color: var(--utama);
}

.conproduct h1 {
  color: var(--coklatmuda);
}

.product {
  display: flex;
  align-items: center;
  padding-top: 1px;
  flex-wrap: wrap;
  justify-content: space-around;
}

.kolom2 {
  flex-basis: 25%;
  padding: 10px;
  min-width: 200px;
  margin-bottom: 50px;
  transition: 0.3s linear;
}

.kolom2 img {
  width: 100%;
}

.kolom2:hover {
  transform: translateY(-10px);
}
/* Product end */

/* Poster */
.conposter {
  background: radial-gradient(#fff, #ffa600);
  margin-top: 80px;
  padding: 30px 0;
}

.poster {
  max-width: 1080px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}

.posterr {
  display: flex;
  align-items: center;
  padding-top: 20px;
  flex-wrap: wrap;
  justify-content: space-around;
}

.kolom3 {
  flex-basis: 25%;
  padding: 10px;
  min-width: 200px;
}

.kolom3 h1 {
  font-size: 4rem;
  line-height: 4rem;
}

.kolom3 p {
  padding-top: 20px;
  padding-bottom: 10px;
  font-size: 1.2rem;
}

.kolom3 .poster-img {
  width: 150%;
}
/* poster */

/* promo */
.conpromo {
  max-width: 1080px;
  margin: auto;
  padding-left: 0px;
  padding-right: 0px;
}

.conpromo h1 {
  padding-top: 130px;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 3rem;
  font-size: 3rem;
}

.conpromo h1 span {
  color: var(--utama);
}

.conpromo h1 {
  color: var(--coklatmuda);
}

.promo {
  display: flex;
  align-items: center;
  padding-top: 1px;
  flex-wrap: wrap;
  justify-content: space-around;
}

.kolom4 {
  flex-basis: 25%;
  padding: 10px;
  min-width: 200px;
  margin-bottom: 50px;
  transition: 0.3s linear;
}

.kolom4 img {
  width: 100%;
}

.kolom4:hover {
  transform: translateY(-10px);
}

/* testimoni */
.contestimoni {
  max-width: 1080px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 130px;
}

.contestimoni h1 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 3rem;
  font-size: 3rem;
  color: var(--coklatmuda);
}

.contestimoni h1 span {
  color: var(--utama);
}

.testimoni {
  display: flex;
  align-items: center;
  padding-top: 20px;
  flex-wrap: wrap;
  justify-content: space-around;
}

.kolom5 {
  flex-basis: 30%;
  padding: 10px;
  min-width: 300px;
  margin-bottom: 50px;
  text-align: center;
  padding: 40px 20px;
  cursor: pointer;
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.1);
  transition: 0.3s linear;
}

.kolom5 h3 {
  color: var(--coklat);
}

.kolom5 img {
  width: 150px;
  margin-top: 20px;
  border-radius: 50%;
}

.kolom5:hover {
  transform: translateY(-10px);
}

/* Find U s */
.confind {
  margin: 100px auto;
  padding-top: 130px;
}

.confind h1 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 3rem;
  font-size: 3rem;
  color: var(--coklatmuda);
}

.confind h1 span {
  color: var(--utama);
}

.find {
  max-width: 1080px;
  margin: auto;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
}

.market {
  display: flex;
  align-items: center;
  padding-top: 20px;
  flex-wrap: wrap;
  justify-content: space-around;
}

.kolom6 {
  width: 100px;
}

.kolom6 img {
  width: 100%;
  cursor: pointer;
  filter: grayscale(100%);
  transition: 0.3s linear;
}

.kolom6 img:hover {
  filter: grayscale(0);
  transform: scale(1.1);
}

.find .row {
  display: flex;
  margin-top: 2rem;
  background-color: var(--coklatmudalg);
  flex-wrap: wrap;
}

.find .row .map {
  flex: 1 1 45rem;
  width: 100%;
  object-fit: cover;
}

.row ul {
  list-style-type: none;
  align-items: center;
  padding: 5rem 2rem;
  align-items: center;
  padding-top: 5rem;
}

/* Footer */
footer {
  background-color: var(--utama);
  text-align: center;
  padding: 1rem 0;
  margin-top: 3rem;
  color: var(--coklatmudalg);
}

footer .sosial a {
  color: var(--coklatmuda);
  margin: 1rem;
  transition: 0.2s linear;
}

footer .sosial a:hover {
  color: var(--kuning);
}

footer .credit p {
  color: var(--coklatmudalg);
}

footer .credit span {
  color: var(--coklatmudalg);
  font-weight: 1000;
}

/* end footer */
